@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
:root{
    --backGround: #1B1B1B;
    --texto: #fff;
    --roxo: #A238FF;
    --verde: #1ED760;
    --fonte-titulo: "Bevan", serif;
    --fonte-texto: "Montserrat", sans-serif;
}

body{
    background-color: var(--backGround);
    font-family: var(--fonte-texto);
}
header{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

#logo{
    color: var(--texto);
}

#container_options{
    display: flex;
    margin-left: 350px;
    gap: 50px;
}
.dificil--title{
    font-family: var(--fonte-titulo);
}