@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --backGround: #1F051E;
    --font_principal: "Outfit", sans-serif;
}

body{
    background-color: var(--backGround);
}

header{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    font-family: var(--font_principal);
    font-weight: 300;
}

#logo{
}

#container_options{
    display: flex;
    margin-left: 350px;
    gap: 50px;
}

section{
    font-family: var(--font_principal);
}

p{
    font-weight: 500;
}